bitmath==1.3.3.1
fasteners==0.16
jinja2==2.11.3
numpy==1.20.3
molsystem>=2021.5.5
pandas==1.2.4
pillow==8.1.2
pmw==2.0.1
py-cpuinfo==8.0.0
pyuca==1.2
reference-handler==0.9.1
seamm-util>=2021.5.6
seamm-widgets>=2021.5.6
stevedore==3.3.0
