bibtexparser<2
fasteners
humanize
jinja2
molsystem>=2026.10.3
numpy
packaging
pandas
pillow
pmw
py-cpuinfo
pyperclip
python-dateutil
pyuca
pyyaml
reference_handler
seamm-dashboard-client>=2026.10.1
seamm-util>=2026.9.27.1
seamm-widgets
stevedore
